 Write a program that will give you in hand monthly salary after deduction on CTC - HRA(10%), DA(5%), PF(3%) and taxes deduction as below:
Salary(Lakhs) : Tax(%)

Below 5 : 0%

5-10 : 10%

10-20 : 20%

aboove 20 : 30%

In [ ]:
sal = int(input())
hra = 10/100*sal
da = 5/100*sal
pf = 3/100*sal

if sal<500000:
    tax = 0
elif 500000<=sal<=1000000: 
    tax = 10/100*sal# 10 per tax
elif 1000000<sal<=2000000:
    tax = 20/100*sal# 20 per tax
else:
    tax = 30/100*sal# 30 per tax

ctc_in_hand = sal - (hra+da+pf+tax)
montly_sal = ctc_in_hand/12

Write a program that take a user input of three angles and will find out whether it can form a triangle or not.

In [ ]:
a,b,c = int(input()),int(input()),int(input())

if a>0 and b>0 and c>0 and a+b+c == 180:
    print(f'angle a={a},b={b},c={c} can form a traingle')
else:
    print(f'angle a={a},b={b},c={c} cannot form a traingle')

Display Fibonacci series up to 10 terms

In [5]:
num1, num2 = 0,1

for i in range(10):
    print(num1)

    next = num1 + num2

    num1 = num2
    num2 = next

0
1
1
2
3
5
8
13
21
34

Write a menu-driven program 
1. cm to ft 
2. km to miles 
3. USD to INR 
4. exit

In [3]:
menu = input("""
Select one of them:
1 for cm to ft
2 for km to miles
3 for USD to INR
4 to exit
""")

if menu == '1':
    cm_value = float(input("Enter the value"))
    print("After converion value is:",cm_value*0.032)

elif menu == '2':
    km_value = float(input("Enter the value"))
    print("After converion value is:",km_value*0.62)

elif menu == '3':
    usd_value = float(input("Enter the value"))
    print("After converion value is:",usd_value*80)

else:
    exit()

After converion value is: 6240.0

Find the factorial of a given number.
- Write a program to use the loop to find the factorial of a given number.
- The factorial (symbol: !) means to multiply all whole numbers from the chosen number down to 1.

- For example: calculate the factorial of 5

In [13]:
a = int(input("enter a number"))

fact = 1
for i in range(1,a+1):
    fact = fact*i

print(fact)

24

Reverse a given integer number
23234 ----> 43232

In [16]:
a = 213254
rev = 0

while a>0:
    lastnum = a % 10
    rev = rev*10 + lastnum
    a = a//10

print(rev)

452312

- Take a user input as integer N. 
- Find out the sum from 1 to N. 
- If any number if divisible by 5, then skip that number. 
- And if the sum is greater than 300, don't need to calculate the sum further more. 
- Print the final result. And don't use for loop to solve this problem

In [62]:
# using for loop 
n = 30
sum = 0 

for i in range(1,n+1):
    if i%5==0:
        continue # skip this number
    print('for i :',i, 'sum rn:',sum)
    sum = sum + i

    
    if sum > 300:
        print("Sum exceeded 300. Breaking the loop.")
        break
    
    print("sum till now:",sum)

for i : 1 sum rn: 0
sum till now: 1
for i : 2 sum rn: 1
sum till now: 3
for i : 3 sum rn: 3
sum till now: 6
for i : 4 sum rn: 6
sum till now: 10
for i : 6 sum rn: 10
sum till now: 16
for i : 7 sum rn: 16
sum till now: 23
for i : 8 sum rn: 23
sum till now: 31
for i : 9 sum rn: 31
sum till now: 40
for i : 11 sum rn: 40
sum till now: 51
for i : 12 sum rn: 51
sum till now: 63
for i : 13 sum rn: 63
sum till now: 76
for i : 14 sum rn: 76
sum till now: 90
for i : 16 sum rn: 90
sum till now: 106
for i : 17 sum rn: 106
sum till now: 123
for i : 18 sum rn: 123
sum till now: 141
for i : 19 sum rn: 141
sum till now: 160
for i : 21 sum rn: 160
sum till now: 181
for i : 22 sum rn: 181
sum till now: 203
for i : 23 sum rn: 203
sum till now: 226
for i : 24 sum rn: 226
sum till now: 250
for i : 26 sum rn: 250
sum till now: 276
for i : 27 sum rn: 276
Sum exceeded 300. Breaking the loop.

In [63]:
# using while loop
n = 10
sum = 0
i = 1
while i<n+1:
    if i%5 == 0:
        i += 1
        continue

    print('for i :',i, 'sum rn:',sum)
    sum = sum + i 
    i+=1
    
    if sum>300:
        print("Sum exceeded 300. Breaking the loop.")
        break

    print("sum till now:",sum)

for i : 1 sum rn: 0
sum till now: 1
for i : 2 sum rn: 1
sum till now: 3
for i : 3 sum rn: 3
sum till now: 6
for i : 4 sum rn: 6
sum till now: 10
for i : 6 sum rn: 10
sum till now: 16
for i : 7 sum rn: 16
sum till now: 23
for i : 8 sum rn: 23
sum till now: 31
for i : 9 sum rn: 31
sum till now: 40

Write a program which will find all such numbers which are divisible by 7 but are not a multiple of 5, between 2000 and 3200 (both included). The numbers obtained should be printed in a comma-separated sequence on a single line.

In [64]:
result = []
for i in range(2000,3201):
    if i%7==0 and i%5!=0:
        result.append(str(i))
print(",".join(result))

2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199